<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeWatch Pro Nigeria</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('report') }}">Report</a>
    <a href="{{ url_for('map_view') }}">Map</a>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}

    {% if current_user.is_authenticated and current_user.role == "admin" %}
        <a href="{{ url_for('admin') }}">Admin</a>
    {% endif %}
</nav>

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>