{% extends "base.html" %}

{% block content %}

<h2>📊 Dashboard</h2>

<div class="cards">

    <div class="card">
        <h3>Total Reports</h3>
        <p>{{ reports|length }}</p>
    </div>

    <div class="card">
        <h3>Quick Action</h3>
        <a class="btn" href="{{ url_for('report') }}">Create Report</a>
    </div>

</div>

<br><br>

<h3>Recent Reports</h3>

{% for r in reports %}
<div class="card">
    <h4>{{ r.title }}</h4>
    <p>{{ r.description }}</p>
    <small>{{ r.state }} | {{ r.category }}</small>
</div>
<br>
{% endfor %}

{% endblock %}