{% extends "base.html" %}

{% block content %}

<div style="max-width:400px; margin:auto; background:white; padding:20px; border-radius:10px;">

<h2>Login</h2>

<form method="POST">

    <input name="email" type="email" placeholder="Email" required style="width:100%; padding:10px; margin:10px 0;">

    <input name="password" type="password" placeholder="Password" required style="width:100%; padding:10px; margin:10px 0;">

    <button class="btn" style="width:100%;">Login</button>

</form>

<p style="text-align:center; margin-top:10px;">
    <a href="{{ url_for('register') }}">Create account</a>
    <a href="{{ url_for('forgot_password') }}">Forgot password?</a>
</p>

</div>

{% endblock %}